<div class="mt-4">
  <div class="border rounded-lg overflow-hidden" style="max-height: 960px; overflow-y: auto;">
    <div class="divide-y">
      <% @playlist_tracks.each do |track| %>
        <%= render "shared/song_line", song: track %>
      <% end %>
    </div>
  </div>
</div>